<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static', filename='css/features_page_styles/features.css')}}">
  <title>FilterOn - Features</title>
</head>
<body>
  <!-- Navbar-->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">FilterOn</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home </a>
        <a class="nav-link active" href="/features">Features <span class="sr-only">(current)</span></a>
      </div>
    </div>
  </nav>

  <!-- Feature Page Content-->

  <section class="feature_page_content"> 

    <div class="info_blocks"> 
      <h5 class="carousel_titles">Welcome To FilterOn</h5>
      <p class="carousel_info">FilterOn is a simple web-based filter application. </p>
    </div>

    <div class="info_blocks">
      <h5 class="carousel_titles">Filtering Images</h5>
      <p class="carousel_info">FilterOn allows users to filter desired images quick and easy. Select an image and a filter you want to apply and hit "Apply Effect". Your filtered image will start downloading after a few seconds.</p>
    </div>
 
    <div class="info_blocks">
      <h5 class="carousel_titles">Image Types Supported</h5>
      <p class="carousel_info">FilterOn supports JPEG, JPG and PNG files.</p>
    </div>
    
  </section>


  <!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>